<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments::head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>名字不代表我是兽の后面</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/gay.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>

<body>

    <!-- 导航 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
            <h2>名字不代表我是兽の后面</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item pl-3">
                        <a class="nav-link" href="index.html" th:href="@{/}">首页 </a>
                    </li>
                    <li class="nav-item pl-3 active ">
                        <a class="nav-link" href="#" th:href="@{/blog?page=1}">文章<span class="sr-only">文章</span></a>
                    </li>
                    <li class="nav-item pl-3">
                        <a class="nav-link" href="#">视频</a>
                    </li>
                    <li class="nav-item pl-3">
                        <a class="nav-link" href="#">关于</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Whishou Tan
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" th:href="@{/loginIndex/myblogPages?page=1}">管理</a>
                        <a class="dropdown-item" href="#" th:href="@{/loginIndex/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <!-- 主体 -->
    <div class="py-4">
        <div class="container">
            <div class="row border shadow bg-light rounded py-4">
                <div class="col">
                    <!--三元运算符真好用-->
                    <form class="my-3" method="post" th:action="${id}==null?@{/loginIndex/submitBlogs}:@{'/loginIndex/submitBlogs?id='+${id}}">
                        <!-- 新增文章标题与分类 -->
                        <div class="form-row">
                            <div class="form-group col-lg-8">
                                <!-- 设置autocomplete为off，关闭自动补齐 -->
                                <input th:value="${title}" type="text" autocomplete="off" class="form-control" id="inputTitle"
                                    placeholder="文章标题" name="title" required>
                            </div>
                            <!-- 设置form-inline使label与select占同一行 -->
                            <!-- <div class="form-group  col-lg-3 form-inline ml-5">
                                <label class="mx-3" for="exampleFormControlSelect1" >分类 </label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>学习笔记</option>
                                  <option>说说</option>
                                  <option>代码编程</option>
                                </select>
                              </div> -->
                            <div class="form-group col-lg-4">
                                <select class="custom-select" name="categoryID" required>
                                    <option selected>选择分类</option>
                                    <option th:each = "category,stat : ${categoryList}" th:text="${category.category}"
                                            th:value="${category.id}" th:selected="${categoryID}==${category.id}?true:false"></option>
<!--                                    <option value="1">学习笔记</option>-->
<!--                                    <option value="2">说说</option>-->
<!--                                    <option value="3">代码编程</option>-->
                                </select>
                            </div>
                        </div>

                        <!-- 正文 -->
                        <div class="form-group">
                            <!-- markdown编辑器 -->
                            <div id="editormd" style="z-index: 1 !important;">
                                <textarea th:text="${text}" id="inputText" name="text" style="display: none;" required></textarea>

                            </div>

                        </div>

                        <!-- 提交 -->
                        <div class="text-right">
                            <a href="#" th:href="@{/loginIndex/myblogPages?page=1}"><button type="button" class="btn btn-secondary btn-lg">返回</button></a>
                            <button type="submit" class="btn btn-secondary btn-lg" name="if_publish" value="0">草稿</button>
                            <button type="submit" class="btn btn-success btn-lg" name="if_publish" value="1">提交</button>
                        </div>
                    </form>
                </div>
            </div>



        </div>
    </div>




    <!-- 页脚 -->
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy;2020</span>
            <span class="text-muted">Whishou Tan</span>
        </div>
    </footer>



    <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script type="text/javascript">
        //maekdown编辑器
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
                width: "100%",
                height: 640,
                syncScrolling: "single",
                //路径是个坑，去掉static
                //path: "../../static/lib/editormd/lib/"
                path: "../../lib/editormd/lib/"
            });

            /*
            // or
            testEditor = editormd({
                id      : "test-editormd",
                width   : "90%",
                height  : 640,
                path    : "../lib/"
            });
            */
        });
    </script>
</body>

</html>