
body{
    background: url(../images/email-pattern.png);
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

/* 调整登录页面大小 */

@media (min-width: 1200px) {
    #login{
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    #login{
        max-width: 540px;
    }
}
@media (min-width: 786px) {
    #login{
        max-width: 540px;
    }
}

/* 调整文章样式 */

#myText p , center {
    font-size: 1.5rem;
    /*margin: 3rem!important;*/
    font-weight: 300!important;
}

/* logo */
#logo {
    background-image: linear-gradient(
            to right,
            orangered,
            orange,
            gold,
            lightgreen,
            dodgerblue,
            mediumpurple,
            orangered);
    background-size: 100%;
}
#logo {
    animation: sliding 500s linear infinite;
}
/* 动画 */
@keyframes sliding {
    to {
        background-position: 2000vw;
    }
}
#logo {
    /*绘制文字*/
    -webkit-background-clip: text;
    /*将文字设置透明*/
    -webkit-text-fill-color: transparent;
}

