
body{
    background: url(../images/email-pattern.png);
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

/* 调整登录页面大小 */

@media (min-width: 1200px) {
    #login{
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    #login{
        max-width: 540px;
    }
}
@media (min-width: 786px) {
    #login{
        max-width: 540px;
    }
}

/* 调整文章样式 */

#myText p , center {
    font-size: 1.5rem;
    /*margin: 3rem!important;*/
    font-weight: 300!important;
}


