<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments::head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>名字不代表我是兽の小屋</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/gay.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>

    <!-- 导航 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="_fragments::nav">
        <a class="navbar-brand">
            <h2>名字不代表我是兽の小屋</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item pl-3">
                        <a class="nav-link" href="index.html" th:href="@{/}">首页 </a>
                    </li>
                    <li class="nav-item pl-3 active ">
                        <a class="nav-link" href="#" th:href="@{/blog?page=1}">文章<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item pl-3">
                        <a class="nav-link" href="#">视频</a>
                    </li>
                    <li class="nav-item pl-3">
                        <a class="nav-link" href="#">关于</a>
                    </li>
                </ul>
                <div></div>
                <div></div>
                <!--判断是否登录-->
                <div th:switch="${session.user!=null}">
                    <div th:case="true" class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Whishou Tan
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" th:href="@{/loginIndex/myblogPages?page=1}">管理</a>
                            <a class="dropdown-item" href="#" th:href="@{/loginIndex/logout}">注销</a>
                        </div>
                    </div>
                    <a th:case="false" class="btn btn-outline-secondary ml-5" href="#" role="button" th:href="@{/loginIndex}" >登陆</a>
                </div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </div>
    </nav>


    <!-- 主体 -->
    <div class="py-4">
        <div class="container ">
            <!-- 标题 -->
            <div class="row">
                <div class="col border bg-light">
                    <h4 class="h1 text-center m-3" th:text="${myBlog.title}">请君听</h4>
                    <h5 class="text-muted text-right mr-3" th:text="${myBlog.category}">学习笔记 </h5>
                    <h5 class="text-muted text-right mr-3">by:Whishou Tan </h5>
                    <h5 class="text-muted text-right mr-3 mb-4"><time datetime="2020-04-11"  th:datetime="${myBlog.crTime}" th:text="${myBlog.crTime}">2020/4/11</time> </h5>
                </div>
            </div>
            <!-- 正文 -->
            <div class="row">
                <div id="myText" class="col border shadow bg-light rounded p-5" th:utext="${text}">
                    <p class="h4 font-weight-light m-5" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
                        exercitationem optio modi minima
                        similique in sed adipisci. Sapiente qui numquam iste deserunt fuga! Saepe quibusdam minima
                        consequatur quod deserunt. Doloribus nisi repudiandae itaque enim odit ad eaque consequuntur
                        ducimus, assumenda explicabo ex eveniet voluptates facilis eos fugit provident pariatur,
                        voluptatem
                    </p>
                </div>

            </div>
            <!-- 留言板 -->
            <div class="row">
                <div class="col border shadow bg-light rounded">
                    <div class="mx-5 my-3">
                        <p class="h5 pb-4">留言板</p>
                    </div>
                    <!-- 留言内容 -->
                    <div class="border mx-5 my-3 px-3 bg-white" id="comment_container">
                        <div th:fragment="comment_body">
                            <div class="media my-3 border-bottom pb-3" th:each="commentList ,stat : ${commentList}">
                                <img style="width: 64px;height: 64px;" src="../static/images/me.jpg" class="mr-3" th:src="@{/images/avatar_001.svg}">
                                <div class="media-body">
                                    <div>
                                        <h5 class="mt-0 d-inline mr-3" th:text="${commentList.nickName}">Whishou Tan</h5>
                                        <span class="text-secondary" th:text="${commentList.crTime}">2020-04-22</span>
                                    </div>
                                    <span class="d-block" th:text="${commentList.text}">hello!</span>
                                    <!--设置ID与nickname两个自定义属性，便于查询回复的对象，自定义属性以data-开头-->
                                    <button type="button" class="btn btn-link p-0 text-info" data-commentID="1" data-commentNickname="Whishou Tan"
                                            th:attr="data-commentID=${commentList.id},data-commentNickname=${commentList.nickName}" onclick="reply(this)">回复</button>

                                    <!--如果没有回复则隐藏-->
                                    <div class="media mt-3" th:if="${#arrays.length(commentList.replyComments)}>0" th:each="replyList, stat:${commentList.replyComments}">
                                        <img style="width: 64px;height: 64px;" src="../static/images/me.jpg" class="mr-3" th:src="@{/images/avatar_001.svg}">
                                        <div class="media-body" >
                                            <div>
                                                <h5 class="mt-0 d-inline" th:text="${replyList.nickName}">Whishou Tan</h5>
                                                <span class="mr-3 text-secondary" th:text="|回复 ${replyList.parentNickName}|">@ qaq</span>
                                                <span class="text-secondary" th:text="${replyList.crTime}">2020-04-22</span>
                                            </div>
                                            <span th:text="${replyList.text}">hi!</span>
                                            <button type="button" class="btn btn-link p-0 text-info" data-commentID="1" data-commentNickname="Whishou Tan"
                                                    th:attr="data-commentID=${replyList.id},data-commentNickname=${replyList.nickName}" onclick="reply(this)">回复</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 留言表单 -->
            <div class="row">
                <div class="col border shadow bg-light rounded">
                    <form class="mx-5 my-3" method="post" th:action="@{/comment}">
                        <!--设置两个隐含域，传递blogid与父评论的ID，父评论ID默认为-1，表示默认无父评论-->
                        <input type="text" name="blogID" th:value="${myBlog.id}" class="d-none">
                        <input type="text" name="commentID" value="-1" class="d-none">

                        <div class="form-group">
                          <label class="h5 pb-3" for="inputComment">我想说点什么</label>
                          <textarea class="form-control" id="inputComment" rows="10" name="text" placeholder="我觉得" required></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-3">
                                <label class="sr-only" for="inputNickname">你的昵称</label>
                                <input type="text" class="form-control" id="inputNickname" name="nickName" placeholder="昵称" autocomplete="off" required>
                            </div>
        
                            <div class="form-group col-lg-4">
                                <label class="sr-only" for="inputEmail">你的电子邮箱</label>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email address" required>
                              </div>
                              <div class="col-lg-2 text-right">
                                <button type="submit" class="btn btn-secondary">提交</button>
                              </div>
        
                        </div> 
                      </form>
                </div>
            </div>
        </div>
    </div>




    <!-- 页脚 -->
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy;2020</span>
            <span class="text-muted">Whishou Tan</span>
        </div>
    </footer>



    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        // $('#comment_submit').click(function () {
        //     $.ajax({
        //         url:"/article",
        //         //dataType:"",
        //         async:true,
        //         data:{"id":41},
        //         type:"POST",
        //         success:function () {
        //             $("[name='text']").val("");
        //             $("[name='text']").attr("placeholder", "我觉得").focus();
        //         }
        //     })
        // })

        function reply(object) {
            let id = $(object).data('commentid');
            let nickname = $(object).data('commentnickname');
            $("[name='text']").attr("placeholder", "@ "+nickname).focus();
            $("[name='commentID']").val(id);

        }

    </script>
</body>

</html>