<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments::head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>名字不代表我是兽の后面</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/gay.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>

<body>

<!-- 导航 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <h2 id="logo">名字不代表我是兽の后面</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav ml-5">
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">首页 </a>
                </li>
                <li class="nav-item pl-3 active ">
                    <a class="nav-link" href="#">文章<span class="sr-only">文章</span></a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">视频</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">关于</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Whishou Tan
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">注销</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<!-- 主体 -->
<div class="py-4">
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">恭喜!</h4>
            <p>操作成功</p>
            <hr>
            <p class="mb-0">即将跳转</p>
        </div>
    </div>
</div>


<!-- 页脚 -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy;2020</span>
        <span class="text-muted">Whishou Tan</span>
    </div>
</footer>


<script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script language="JavaScript" type="text/javascript">

    setTimeout("javascript:location.href='article?id=41'",2000)
</script>
</body>

</html>